/* base file */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --main-color: #fb2e86;
  --main-font: "Lato", sans-serif;
  --green: #08d15f;
}
.btn1{
  background-color: #F701A8;
}
.btn2{
  background-color: #00009D;
}
.btn3{
  background-color: #05E6B7;
}
.btn {
  border: none;
  outline: none;
  color: white;
  padding: 16px 40px;
  border-radius: 2px;
}

.btn-main-color {
  background-color: var(--main-color);
}

.btn-green {
  background-color: var(--green);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: auto;
  width: 80%;
}

.text-white {
  color: #EEEFFB;
}

.flex-direction {
  flex-direction: column;
}

.d-flex {
  display: flex;
}
.gap5{
  gap: 5px;
}
.gap10{
  gap: 10px;
}
.gap15{
  gap: 15px;
}
.gap20{
  gap: 20px;
}
.gap12{
  gap: 12px;
}
.btn-shop{
  padding: 10px 20px;
  border:none;
  outline: none;
  color: white;
  border-radius: 2px;
}
.center{
  text-align: center;
}