/* Header */
.header {
  padding: 20px 0;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.bar {
  display: none;
}

@media screen and (max-width: 890px) {
  .list,
  .header.search {
    display: none;
  }
  .bar {
    display: block;
  }
}
@media screen and (max-width:1400px) {
  .container{
    width: calc(100% - 200px);
  }
}
@media screen and (max-width:990px) {
  .container{
    width: calc(100% - 100px);
  }
}
@media screen and (max-width:500px) {
  .container{
    width: calc(100% - 40px);
  }
}
.list a {
  color: #0D0E43;
}

.header .active {
  color: var(--main-color);
}

.search button {
  border: none;
  outline: none;
  background-color: var(--main-color);
  padding: 8px 13px;
}

.search input {
  border: none;
  outline: none;
}

.search form {
  border: 1px solid #E7E6EF;
}

/* Footer */
.footer {
  background-color: #EEEFFB;
  padding: 50px 0;
  
}
.footer .row{
  gap: 10px;
}
.footer .right-side .row{

gap: 35px;
align-items: flex-start;

}
.footer .section{
  width: calc((100% - 70px)/3);
  gap: 45px;
}
.footer .right-side{
  width: calc((100% - 10px)/2);
}

.right-side a{
  color: #8A8FB9;
}
.footer .info{
  color:#8A8FB9 ;
}
.footer .left-side{
  align-items: flex-start;
  gap: 35px;
  width: calc((100% - 10px)/2);
}
@media screen and (max-width:993px) {
  .footer .left-side , .footer.right-side{
    width: 100%;
  }
}
@media screen and (max-width:576px) {
  .footer .left-side , .footer.right-side{
    width: 50%;
  }
  .footer{
    text-align: center;
  }
}
